openapi: 3.0.0
info:
  title: MeloMusic API
  version: 1.0.0
servers:
  - url: http://localhost:3000/api
paths:
  /songs:
    get:
      summary: Listar músicas
      responses:
        200:
          description: OK
    post:
      summary: Criar música
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title: 
                  type: string
                artist: 
                  type: string
      responses:
        201:
          description: Criado
  /songs/{id}:
    delete:
      summary: Apagar música
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Apagado